/* ----- IPAD PRO ----- */
@media (max-width: 1024px) {
    .card {
        width:180px;
        height:144px;
    }
    #main-table {
        max-width: none;
    }
    #title {
        max-width: 600px;
    }
    #title-1 {
        font-size: 150pt;
    }
    #title-2 {
        font-size: 56pt;
        margin-top: -20px;
        margin-right: -150px;
    }
    .btn {
        width: 300px;
        height:60px;
    }
    #back-button-left {
        width: 300px;
        height:60px;
    }
    .number{
        font-size:140%;
    }
    .action{
        /*margin-top:50px;*/
        font-size:140%;
    }
    .action i {
        padding-top:25px;
    }
    .action-hint {
        font-size: 22pt;
        right: 20px;
    }
    .btn{
        font-size:1.5rem;
    }
    #button-table{
        padding-top:20px;
    }
}

/* ----- IPAD AIR ----- */
@media (max-width: 820px) {
    .card {
        width:160px;
        height:128px;
    }
    #title-1 {
        font-size: 135pt;
    }
    #title-2 {
        font-size: 50pt;
        margin-top: -20px;
        margin-right: -120px;
    }
    .btn {
        width: 250px;
    }
    #back-button-left {
        width: 250px;
    }
    .number{
        font-size:130%;
    }
    .action{
        font-size:130%;
    }
}

/* ----- IPAD MINI ----- */
@media (max-width: 768px) {
    .card {
        width:140px;
        height:112px;
    }
    #title-1 {
        font-size: 125pt;
    }
    #title-2 {
        font-size: 40pt;
        margin-right: -50px;
    }
    .number{
        font-size:120%;
    }
    .action{
        font-size:120%;
    }
    .action i {
        padding-top:15px;
    }
}

/* ----- IPHONE 14 PRO MAX ----- */
@media (max-width: 430px) {
    #flip-table {
        padding-top:20px;
    }
    .card {
        width:50px;
        height:40px;
    }
    #title-1 {
        font-size: 70pt;
        padding-left:20px
    }
    #title-2 {
        font-size: 30pt;
        margin-right: 30px;
    }
    .btn {
        width: 120px;
        height:60px;
    }
    #back-button-left {
        width: 120px;
        height:60px;
    }
    .number{
        font-size:90%;
        position:relative;
        top: -15px;
    }
    .action{
        font-size:90%;
    }
    .action i {
        padding-top:25px;
        position:relative;
        top: -35px;
        right:-1px
    }
    .action-hint {
        font-size: 14pt;
        right: 2px;
    }
    .btn{
        font-size:1rem;
    }
    #button-table{
        padding-top:20px;
    }
}

/* ----- IPHONE 12 PRO ----- */
@media (max-width: 390px) {

    #main-table {
        max-width: none;
        padding-left:30px;
    }
    #title {
        max-width: 400px;
    }
    #title-1 {
        font-size: 70pt;
        padding-left:25px
    }
    #title-2 {
        font-size: 25pt;
        margin-right: 30px;
    }
}
